@model IEnumerable<ContactDetail>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Contact List</h1>
    <a asp-controller="Create" asp-action="Index" class="btn btn-secondary">Create New Contact</a>
    @foreach(var obj in Model)
    {
        <h1>
            @obj.FullName
        </h1>
    }

</div>
