@model User

@{
    Layout="";
}

<!DOCTYPE HTML>
<html>
    <title>
        Log IN
    </title>
    <body>
        <h1>
            Log In
        </h1>
        <form method="post" asp-action="Login">
            <label>
                Username
                </br>
            </label>
            <input type="text" asp-for="UserName" />
            </br>
            <label>
                Password
                </br>
            </label>
            <input type = "password" asp-for="Password" />
            <button type="submit">Login</button>
        </form>
    </body>
</html>